.env
/__pycache__
```
labeled_data/2pjHYmFSlo.pkl
labeled_data/3OGypQDOyI.pkl
labeled_data/BpzrUfuZ6B.pkl
labeled_data/C9bAsXuJGs.py
labeled_data/gpJWDlaTrC.pkl
labeled_data/H15EFONakV.pkl
labeled_data/HFyikBiU69.pkl
labeled_data/oi7joAzNF7.py
labeled_data/pkPxvwPVtQ.pkl
.DS_Store
